* {
    margin: 0;
    padding: 0;
    /* font-family: ; */
    /* outline: 2px solid blue; */
}

section {
    margin-left: calc(1.5vw + 14.5px);
    margin-right: calc(1.5vw + 14.5px);
}

body {
    font-family: 'Montserrat';
    color: #111111;
    background-color: #FAFAFA;
}

/* HEADER */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: calc(0.5vw + 18px) calc(1.5vw + 14.5px) calc(2.2vw + 5.8px);
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 6px;
    margin-right: calc(21.6vw - 71px);
}

.logo h1 {
    font-size: calc(0.5vw + 12px);
}

.sipmly {
    font-style: italic;
}

.logo img {
    width: calc(0.3vw + 11px);
    height: calc(0.5vw + 12px);
}

.navInfo {
    display: flex;
    gap: 137px;
}

.navigationText {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style-type: none;
}

nav a {
    color: #111111;
    text-decoration: none;
}

nav a:hover {
    color: #FD9222;
    text-decoration: underline;
}

.icon img {
    color: #111111;
}

.icon img:hover {
    color: #FD9222;
}


/* SECTION1 */


.titleInfo {
    background-image: url(../images/chocolate-covered-cocoa-powder\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(97.1vw - 39px);
    height: calc(2.5vw + 630px);
    border-radius: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 calc(2.4vw + 11px);
    padding-top: calc(1.7vw + 401px);
}

.info p {
    font-size: calc(1vw + 16px);
    font-weight: 500;
    line-height: 121%;
    width: calc(22.9vw + 209px);
    margin-bottom: 32px;
    color: white;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: flex;
    flex-wrap: nowrap;
}

.primary {
    width: calc(2.9vw + 109px);
    height: calc(0.5vw + 39px);
    border-radius: 30px;
    border: 0;
    margin-right: 14px;
    background-color: #FD9222;
    color: white;
}

.secondary {
    width: calc(2.9vw + 148px);
    height: calc(0.5vw + 39px);
    border-radius: 30px;
    background: none;
    border: 1px solid white;
    color: white;
}

.primary:hover {
    background-color: white;
    color: #FD9222;
    cursor: pointer;
}

.secondary:hover {
    border: 1px solid #FD9222;
    color: #FD9222;
    cursor: pointer;
}

.down i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    color: #FD9222;
}

.down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(4.4vw + 110px);
    height: calc(1.2vw + 38px);
    border-radius: 10px;
    gap: calc(0.2vw + 11px);
    text-decoration: none;
    color: white;
}

.down:hover {
    color: #FD9222;
}

.down:hover i{
    background-color: #FD9222;
    color: white;
}


/* BLACK CONTENT  */

.blackContent {
    margin: 0;
    padding: 0;
    background-color: #1E1823;
}
.black {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;
}
.blackText {
    width: 326px;
    margin: calc(3.6vw + 6.30px) calc(3.6vw + 6.30px) 0;
    color: white;
}

.blackText h2 {
    margin: 22px 0 18px 0;
    font-size: 18px;
    font-weight: 600;
}

.blackText p {
    font-size: 14px;
    font-weight: 400;
    line-height: 121%;
    width: 308px;
    padding-bottom: calc(3.6vw + 6px);
}

.line {
    height: 124px;
    margin-top: 110px;
}



/* TASTE CONTENT */


.taste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tasteContent {
    margin-top: calc(6.8vw + 46px);
}

h3 {
    font-size: calc(0.5vw + 18px);
    font-weight: 600;
    line-height: 116%;
    text-align: center;
    text-transform: uppercase;
}

.tasteContent h3 {
    max-width: 486px;
    margin-bottom: calc(0.5vw + 22px);
}

h3 span {
    color: #FD9222;
}

.tasteTitle {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.tasteTitle p {
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
    max-width: 486px;
    text-align: center;
}

.taste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20px; */
}

.tasteForm {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: calc(2.2vw + 24px);
    border-radius: 15px;
}

/* .tasteForm img {
    width: calc(2.2vw + 232px);
    height: calc(1.3vw + 176px);
} */

.tasteForm span {
    font-size: 18px;
    text-transform: uppercase;
}

#milkChocolate {
    background-color: #FD9222;
}

#milk {
    border: 1px solid #FD9222;
    background-color: white;
}

#nuts {
    background-color: #1E1823;
}

/* HOW ITS MADE */


.made {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: calc(6.8vw + 46px);
    gap: 20px 0;
}

.madeContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.madeContent img {
    width: calc(32.1vw + 214px);
}

.madeText {
    max-width: 452px;
}

.madeText h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 133%;
    max-width: 350px;
    margin: 40px 0 24px 32px;
}

.madeText {
    margin-left: 52px;
}

.madeText ul {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-left: 32px;
}

.productsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* OUR PRODUCTS */



.splide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: calc(6.8vw + 46px);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid  rgb(197, 196, 196);
    border-radius: 10%;
    padding: 32px 20px 32px 20px;
    margin-top: calc(2.2vw + 24px);

}

.slider h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 133%;
    text-transform: uppercase;
    margin: 8px 0 2px;
}

.slider p {
    font-size: 12px;
    font-weight: 400;
    line-height: 116%;
    margin-bottom: 18px;
}

.slidePrice {
    border: 1px solid rgb(197, 196, 196);
    border-radius: 10px;
    width: 94px;
    height: 33px;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
}

.slidePrice:hover {
    background-color: #FD9222;
    border: 0;
    color: white;
}


/* TOP SELLERS */


.topSellers{
    margin-top: calc(6.8vw + 46px);
}

.topSellers h3 {
    margin-bottom: calc(2.2vw + 58px);
}

.topSellersImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topSellersImg img {
    width: calc(4vw + 320px);
    margin-bottom: calc(1.5vw + 14px);
}

.topSellersInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topSellersInfo p {
    width: calc(12.2vw + 260px);
}



/* EXPLORE */



.explore {
    background-image: url(../images/Subcribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 375px;
    margin: calc(6.8vw + 46px) 0 0 0;
    padding: 0;
}

.exploreText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore h3 {
    color: white;
    padding-top: calc(1.2vw + 57px);
    margin-bottom: 24px;
    width: calc(10.5vw + 251px);
}

.explore p {
    width: calc(17.1vw + 262px);
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
    margin-bottom: 24px;
}

.explore button {
    font-size: 18px;
    font-weight: 500;
}



/* FOOTER */


footer {
    background-color: #1E1823;
    padding: 50px 32px 50px 32px;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerContent h3 {
    color: white;
    width: 300px;
    text-align: left;
}

.contentList {
    list-style-type: none;
}

.contentList h6 {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-bottom: 14px;
}

.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 65px;
}

.contentListItem a {
    text-decoration: none;
    color: white;
}

.footerIcon a {
    color: white;
}

.footerIcon a:hover {
    color: #FD9222;
}

.line2 {
    display: flex;
    justify-content: center;
    height: 1px;
    margin-top: calc(3.2vw + 20px);
    margin-bottom: calc(-1vw + 35px);
}

.footerNav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footerNav {
    list-style-type: none;
}

.footerNav a {
    text-decoration: none;
    color: white;
}




@media (max-width: 900px) {
    .navInfo{
        display: none;
    }
    .line{
        display: none;
    }
}
